Repository NextNodeSolutions/standards: changes, and which lint-staged commands are due for each by the changed paths.
All: biome lint --write, prettier --write

feat: implement @nextnode/standards package
  .changeset/config.json
  .github/workflows/auto-publish.yml
  .github/workflows/changeset-check.yml
  .github/workflows/manual-publish.yml
  .github/workflows/test.yml
  .github/workflows/version.yml
  .lintstagedrc.json
  CLAUDE.md
  README.md
  README_CHANGESETS.md
  biome.json
  biome/base.json
  commitlint.config.js
  commitlint/base.json
  eslint.config.mjs
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  prettier/astro.json
  prettier/base.json
  src/__tests__/core.spec.ts
  src/__tests__/logger.spec.ts
  src/__tests__/utils.spec.ts
  src/index.ts
  src/lib/core.ts
  src/types/index.ts
  src/utils/index.ts
  src/utils/logger.ts
  tsconfig.build.json
  tsconfig.json
  vitest.config.ts
Due: biome lint --write, prettier --write

refactor: restructure to DRY configuration package with JS inheritance
  README_CHANGESETS.md
  biome.json
  eslint.config.mjs
  package.json
  prettier/astro.json
  prettier/base.json
  src/__tests__/core.spec.ts
  src/__tests__/logger.spec.ts
  src/__tests__/utils.spec.ts
  src/biome/base.json
  src/commitlint/base.json
  src/index.ts
  src/lib/core.ts
  src/prettier/astro.js
  src/prettier/base.js
  src/types/index.ts
  src/utils/index.ts
  src/utils/logger.ts
  tsconfig.build.json
  tsconfig.json
  vitest.config.ts
Due: biome lint --write, prettier --write

fix: restore missing changeset and better-sort-package-json dependencies
  .lintstagedrc.json
  package.json
  pnpm-lock.yaml
Due: prettier --write

feat: add changeset for initial @nextnode/standards release
  .changeset/initial-release.md
  .github/workflows/test.yml
  package.json
Due: prettier --write

fix: add missing @changesets/changelog-github dependency
  package.json
  pnpm-lock.yaml
Due: prettier --write

refactor: improve lint and format configuration consistency
  .lintstagedrc.json
  package.json
Due: prettier --write

chore: prettier
  .changeset/config.json
  .changeset/initial-release.md
  .github/workflows/auto-publish.yml
  .github/workflows/changeset-check.yml
  .github/workflows/manual-publish.yml
  .github/workflows/test.yml
  .github/workflows/version.yml
  CLAUDE.md
  README.md
  biome.json
  commitlint.config.js
  pnpm-lock.yaml
  pnpm-workspace.yaml
  src/biome/base.json
  src/commitlint/base.json
  src/prettier/astro.js
  src/prettier/base.js
Due: biome lint --write, prettier --write

feat: configure Biome for JSON formatting with tab indentation
  .lintstagedrc.json
  commitlint.config.js
  src/biome/base.json
Due: biome lint --write, prettier --write

fix: add --no-errors-on-unmatched to biome lint command
  .changeset/json-formatter.md
  package.json
Due: prettier --write

fix: allow comments in tsconfig.json files while keeping JSON strict
  package.json
  src/biome/base.json
Due: prettier --write

chore: add changeset for biome tsconfig comments fix
  .changeset/fix-biome-tsconfig-comments.md
Due: prettier --write

fix: separate Biome and Prettier responsibilities for JSON formatting
  package.json
  pnpm-lock.yaml
  src/biome/base.json
  src/prettier/base.js
Due: biome lint --write, prettier --write

chore: add changeset for JSON formatting separation fix
  .changeset/fix-json-formatting-separation.md
Due: prettier --write

fix: convert commitlint configuration from JSON to JavaScript
  .changeset/commitlint-config-fix.md
  package.json
  src/commitlint/base.js
Due: biome lint --write, prettier --write

fix: improve Biome import organization with separated type imports
  src/biome/base.json
Due: prettier --write

chore: add changeset for Biome import organization improvements
  .changeset/temp-changeset.md
Due: prettier --write

feat: add shared TypeScript and Vitest configurations
  package.json
  src/typescript/tsconfig.astro.json
  src/typescript/tsconfig.library.json
  src/typescript/tsconfig.nextjs.json
  src/vitest/vitest.backend.js
  src/vitest/vitest.frontend.js
Due: biome lint --write, prettier --write

feat: add changeset for shared configurations and regenerate lock file
  .changeset/shared-configs.md
  pnpm-lock.yaml
Due: prettier --write

Add shared TypeScript and Vitest configurations for NextNode projects (#15)
  .changeset/shared-configs.md
  package.json
  pnpm-lock.yaml
  src/typescript/tsconfig.astro.json
  src/typescript/tsconfig.library.json
  src/typescript/tsconfig.nextjs.json
  src/vitest/vitest.backend.js
  src/vitest/vitest.frontend.js
Due: biome lint --write, prettier --write

feat: add Vitest type definitions for backend and frontend testing
  package.json
  src/vitest/vitest.backend.d.ts
  src/vitest/vitest.frontend.d.ts
Due: biome lint --write, prettier --write

chore: add changeset for Vitest type definitions
  .changeset/add-vitest-types.md
Due: prettier --write

Add Vitest type definitions for backend and frontend testing (#17)
  .changeset/add-vitest-types.md
  package.json
  src/vitest/vitest.backend.d.ts
  src/vitest/vitest.frontend.d.ts
Due: biome lint --write, prettier --write

feat: update Vitest configurations and remove vite-tsconfig-paths dependency
  package.json
  src/vitest/vitest.backend.js
  src/vitest/vitest.frontend.js
Due: biome lint --write, prettier --write

feat: add changeset for standards updates
  .changeset/update-standards.md
  pnpm-lock.yaml
Due: prettier --write

Update Vitest configurations and remove unnecessary TypeScript path dependency (#19)
  .changeset/update-standards.md
  package.json
  pnpm-lock.yaml
  src/vitest/vitest.backend.js
  src/vitest/vitest.frontend.js
Due: biome lint --write, prettier --write

feat: add changeset for standards updates
  .changeset/update-standards.md
Due: prettier --write

fix: fixed vitest files defaults
  src/vitest/vitest.backend.js
  src/vitest/vitest.frontend.js
Due: biome lint --write

feat: add changeset for Vitest configuration improvements
  .changeset/additional-standards-update.md
Due: prettier --write

Improve Vitest configuration defaults and testing standards (#21)
  .changeset/additional-standards-update.md
  .changeset/update-standards.md
  src/vitest/vitest.backend.js
  src/vitest/vitest.frontend.js
Due: biome lint --write, prettier --write

feat(prettier): add core config without plugins for libraries
  .changeset/prettier-core-config.md
  README.md
  package.json
  src/prettier/astro.js
  src/prettier/base.js
  src/prettier/core.js
Due: biome lint --write, prettier --write

feat(prettier): add core config without plugins for libraries (#23)
  .changeset/prettier-core-config.md
  README.md
  package.json
  src/prettier/astro.js
  src/prettier/base.js
  src/prettier/core.js
Due: biome lint --write, prettier --write

fix(peer-deps): support vite 6/7 and vitest 4
  .changeset/update-vite-vitest-peer-deps.md
  package.json
  pnpm-lock.yaml
Due: prettier --write

fix(peer-deps): support vite 6/7 and vitest 4 (#25)
  .changeset/update-vite-vitest-peer-deps.md
  package.json
  pnpm-lock.yaml
Due: prettier --write

chore: initial commit with spec
  docs/specs/nextnode-standards.spec.md
  docs/swarm/nextnode-standards/spec.md
Due: prettier --write

feat(nextnode-standards): implement @nextnode/standards package with oxlint + oxfmt
  .github/workflows/ci.yml
  .gitignore
  .husky/commit-msg
  .husky/pre-commit
  .husky/pre-push
  .lintstagedrc.json
  .oxfmtrc.json
  .oxlintrc.json
  commitlint.config.js
  docs/specs/nextnode-standards.spec.md
  docs/swarm/nextnode-standards/delivery-report.md
  docs/swarm/nextnode-standards/iterations.md
  docs/swarm/nextnode-standards/spec.md
  nextnode.toml
  package.json
  pnpm-lock.yaml
  src/commitlint/base.js
  src/lint-staged/base.js
  src/oxfmt/base.json
  src/oxlint/base.json
  src/tailwind/preset.js
  src/typescript/tsconfig.astro.json
  src/typescript/tsconfig.library.json
  src/typescript/tsconfig.nextjs.json
  src/vitest/vitest.backend.d.ts
  src/vitest/vitest.backend.js
  src/vitest/vitest.frontend.d.ts
  src/vitest/vitest.frontend.js
Due: biome lint --write, prettier --write

fix(ci): correct reusable workflow reference to infrastructure repo
  .github/workflows/ci.yml
Due: prettier --write

fix(ci): use pipeline.yml and add workflow_dispatch
  .github/workflows/ci.yml
Due: prettier --write

fix(ci): add permissions for semantic-release
  .github/workflows/ci.yml
Due: prettier --write

Notes added by 'git notes add'
  f9b16ff102226f1d5eb468f4b2b5c7e95456be94
Due: none

chore(ci): sync ci.yml template with release_mode input
  .github/workflows/ci.yml
Due: prettier --write

Path conditions:
  biome lint --write: any of: *.{js,jsx,ts,tsx}
  prettier --write: any of: *.{json,md,yml,yaml}
